apiVersion: v1
kind: Service

metadata:
  name: echo-service

spec:
  type: NodePort
  selector:
    app: backend-app
  ports:
    - protocol: TCP
      port: 8080 # service port
      targetPort: 8080 # container port
      nodePort: 30000 # port accessible from outside
